name: Build and deploy Python app to Azure Web App - bitcoins

on:
  push:
    branches: [ master ]
  workflow_dispatch:

concurrency:
  group: bitcoins-deploy
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.14
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Clear and recreate virtual environment
        run: |
          echo "Cleaning old virtual environment..."
          rm -rf antenv
          python -m venv antenv
          source antenv/bin/activate
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: .
          # (Si Oryx reconstruit les dépendances côté Azure, tu peux exclure antenv)
          # !antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_BEB79BF347904DC1BAA7EE825FB4C38F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D7F44F7647B44ED59C7269ED0C63F009 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_EBC58EDF7AB84D90BD3F2243B28AA548 }}

      - name: Set startup command for Dash
        run: az webapp config set -n bitcoins -g bitcoins_group --startup-file "gunicorn app:server"

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'bitcoins'
          slot-name: 'Production'
          package: .

